@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #FAFAFA;
}

.navbar-dashboard {
    display: flex;
    background-color: #fff;
    min-width: 100%;
    width: 100%;
    gap: 4rem;
    padding: 1rem;
    /* justify-content: center; */
    align-items: center;
    min-height: 10vh;

}

.menu-logo--div {
    display: flex;
    gap: 9%;
    width: 14%;
}

.menu-logo--div img {
    width: 220px;
}

.menu-icon {
    cursor: pointer;
    width:50%;
}

.search-box {
    display: flex;
    width: 63%;
    align-items: center;

}

#search-icon {
    width: 16px;
    height: 16px;

}

#search-input {
    height: 5vh;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 1rem;


}

.right-navigation {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.navigation-profile {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* ----------------------------------------------------------------------------------------- */
/* Css for dashboard body : */
/* ----------------------------------------------------------------------------------------- */

.dashboard--body {
    display: flex;

}

.left--sidebar {
    width: 17%;
    height: 100vh;

    display: flex;
    background-color: #fff;
    flex-direction: column;
    gap: 1rem;
    transition: 1s ease;
}

.open {
    display: flex;
}

.close {
    display: none;
}


.dashboard-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    width: 70%;
    border-radius: 5px;
    padding: 0.5rem;
    margin-left: 2rem;

}


.dashboard-item--icon {
    width: 20px;
    height: 20px;
}

.item-active {
    color: #C8242F;
    background-color: #FFF3F4;
}



/* --------------- right side */

.right-dashboard--content {
    height: 100vh;
    width: 80%;
    padding: 2%;
}

#title--dashboard {
    color: #000;
    font-size: 30px;
}

.insights {
    display: grid;
    grid-template-columns: 17% 17% 17% 17% 17%;
    grid-template-rows: 10%;
    column-gap: 4%;
    padding-left: 2%;
}

.insight {
    display: flex;
    gap: 1rem;
    align-items: center;
    background-color: #fff;
    padding: 3%;
    border-radius: 5px;
    height: 14vh;



}

.insight-icon {
    width: 38px;
    height: 38px;
    min-width: 33px;
    min-height: 33px;
}

.insight-info {
    display: flex;
    flex-direction: column;


}

.insight-info p {
    font-size: 25px;
    color: #3E3E3E;
    font-weight: bold;
    position: relative;
    top: 0.8rem;


}

.insight-info small {
    font-size: 15px;
    position: relative;
    color: #3E3E3E;
    bottom: 0.8rem;
}


/* ---------------------------------------------charts */


.charts {
    display: grid;
    width: 80%;
    grid-template-columns: 75% 40%;
    grid-template-rows: 5%;
    column-gap: 6%;
    margin-top: 4rem;
    padding-left: 2rem;



}

.data-graph--chart {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

#data-graph {
    width: 100%;
    height: 45vh;
}


.left-chart--header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-chart--header h3 {
    font-size: 22px;
}

ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2rem;

}

ul li {

    list-style: none;
    font-size: 12px;
    margin-top: 1rem;
}



.pie-chart {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    height: 50vh;
    background-color: #fff;


}

.pie-chart h3 {
    font-size: 22px;
    padding: 1rem;

}

#pie-chart {
    padding-left: 1.5rem;
    width: 70%;
    height: auto;
}


.country {
    display: flex;
    gap: 0.8rem;
    align-items: center;
}

.red-circle {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #C8242F;
}

.green-circle {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #A2B86C;
}

.orange-circle {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #F16C20;
}

.yellow-circle {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #EBC844;
}

.country-info {
    display: grid;
    column-gap: 1rem;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 20%;
    padding: 1rem;
    row-gap: 1rem;
}

/* ---------------------------------------------charts */



/* table */


.succ {
    color: #3CDD5F;
    background-color: #EBFFEF;

}

.fail {
    color: #FF4545;
    background-color: #FFF5F5;
}

.pending {
    color: #BABABA;
    background-color: #F8F8F8;
}

.display-flex {
    margin-top: 3rem;
    display: flex;
    gap: 0.75rem;
    justify-content: space-between;

}

.table-top small {
    color: #C8242F;
    font-weight: bold;
}



/* table */
@media screen and (max-width:1350px) {
    .insight-info small {
        font-size: 10px;
    }
    .insight-info p {
        font-size: 20px;
    }
}

@media screen and (max-width:1053px) {
    .insights {
        display: grid;
        grid-template-columns: 25% 25% 25%;
        grid-template-rows: 50% 50%;
        column-gap: 10%;
        row-gap: 7%;
        padding-left: 2%;
    }

    .insight-info small {
        font-size: 10px;
    }

    .insight-info p {
        font-size: 20px;
    }

    .dashboard-item--icon {
        width: 15px;
        height: 15px;
    }

    .dashboard-item span {
        font-size: 15px;
    }
}

@media screen and (max-width:942px) {
    .insights {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 33% 33% 33%;
        column-gap: 5%;
        row-gap: 5%;
        padding-left: 2%;
    }

    .left--sidebar {
        height: 75vh;
        width: 25%;
    }
    .charts {
        display: grid;
        width: 80%;
        grid-template-columns: 100%;
        grid-template-rows: 40% 40%;
        row-gap: 3rem;
    }
    .pie-chart {
        width: 70vw;
        height:80vh;
    }
    .search-box {
        display: flex;
        width: 63%;
        align-items: center;
        margin-left: 2rem;
    }
    #data-graph {
        width: 35rem;
    }
    .left-chart--header {
        width: 35rem;
    }
}
@media screen and (max-width:787px){
    #data-graph {
        width:35rem;
    }
    .left-chart--header {
        width: 35rem;
    }
    .pie-chart {
        width:35rem;
        height:80vh;
    }
    .navbar-dashboard {
        width:50rem;
    }
    .insights {
        column-gap:8%;
    }

    .insight-info small {
        font-size: 15px;
    }

    .insight-info p {
        font-size: 25px;
    }
    

}
@media screen and (max-width:658px){
  
    #data-graph {
        width:28rem;
    }
    .left-chart--header {
        width: 28rem;
    }
    .pie-chart {
        width: 65vw;
        height:80vh;
    }
    .navbar-dashboard {
        min-width: 100%;
        width:50rem;
    }
    .left--sidebar {
        height: 75vh;
        width:50%;
    }
    .insights {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 33% 33% 33%;
        column-gap:20%;
        row-gap: 5%;
        
    }
}
@media screen and (max-width:500px){
    .left--sidebar{
        display: none;
    }
    .open{
        display: none;
    }
    
    .close{
        display: flex;
    }
    #data-graph {
        width:28rem;
    }
    .left-chart--header {
        width: 28rem;
    }
    .pie-chart {
        width: 65vw;
        height:80vh;
    }
    .navbar-dashboard {
        min-width: 100%;
        width:50rem;
    }
    .left--sidebar {
        height: 75vh;
        width:50%;
    }
    .insights {
        display: grid;
        grid-template-columns:100% 100%;
        grid-template-rows: 20% 20% 20%;
        column-gap:100%;
        row-gap: 30%;
        margin-left: 50%;
    }
    .insight{
        width: 100%;
    }
   
    .charts {
    
        margin-top:10rem;
        
    
    
    
    }
    .pie-chart {
        
        height:50vh;
    }
}